@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*##########################################*/
/*              LANDING PAGE                */
/*##########################################*/
.landing-page {
  margin: 0 auto;
  padding: 10%;
}

.leading-text {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 2%;
  width: 70%;
}

.home-subtitle {
  width: 70%;
}

.home-subtitle{
  font-size: 1.6rem;
  margin-bottom: 2%;
}

.home-para {
  margin-bottom: 5%;
}

.home-buttons {
  display: flex;
  gap: 20px;

}
/*##########################################*/
/*             NAVIGATION MENU              */
/*##########################################*/
.navbar {
  width: 100%;
  padding: 20px;
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.drop-down-btn {
  color: #fff;
}

.nav-links {
  padding: 8px 18px;
  transition: all 0.5s ease-out;
  border-radius: 4px;
  border: 1px solid #242424;
}

.nav-links:hover,
.nav-links:focus {
  border: 1px solid #fff;
}

.left {
  font-size: 32px;
  font-weight: 700;
  flex: 1;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}

.drop-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.destination-dropdown {
  display: flex;
  justify-content: center;
  padding-left: 7%;
}

.destination-ul {
  margin-top: -10px;
  min-width: 175px;
}



@media only screen and (max-width: 768px) {
  .nav-elements {
    flex-direction: column;
  }

  .right {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 5%;
  }
  .left {
    padding: 7%;
  }

  .leading-text, 
  .home-subtitle {
    width: 100%;
  }
  .home-buttons {
    flex-direction: column;
  }
}

/*##########################################*/
/*         MOBILE NAVIGATION MENU           */
/*##########################################*/
.hamburger-button {
  display: none;
}

.hamburger-button.open .bar:nth-child(1){
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-button.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-button.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .hamburger-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 3px;
    background: #ffff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 250px;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }
  .drop-down-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .destination-ul {
    margin-top: -0;
  }
}